<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Produto</th>
    <th scope="col">Preço Unitário</th>
    <th scope="col">Quantidade</th>
    <th scope="col">Subtotal</th>
    <th scope="col">Acões</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of cart?.items">
    <th scope="row">{{item?.product?.code | leftPadFilter}}</th>
    <td>{{item?.product?.description}}</td>
    <td>{{item?.unitPrice | currency}}</td>
    <td>{{item?.quantity}}</td>
    <td *ngIf="item?.unitPrice && item?.quantity">{{(item.unitPrice * item.quantity) | currency}}</td>
    <td>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger" (click)="removeItem(item)">Remove</button>
        <button type="button" class="btn btn-outline-warning" (click)="openFormItem(item)">Editar</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
